.App {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1em;
  margin: 1em;
}

li {
  list-style: none;
}

.logo-image {
  max-width: 80%;
}

.caught-btn {
  font-weight: 900;
  border: none;
  border-radius: 100px;
}